@import 'font.css';

body{
    font-family: 'Open Sans';
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar{
    background-color: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item{
    margin-left: 37px;
}

.menu__item a{
    font-family: 'Open Sans Smibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover{
    text-decoration: none;
    color: #aa5151;
}

.header{
    padding: 180px 0;
    text-align: center;
    color: white;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;
}

.header__title{
    font-size: 55px;
}

.header__text{
    font-size: 20px;
    margin-bottom: 100px;
}

.button{
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.button_empty{
    text-transform: uppercase;
    color: black;
    background: transparent;
    border: 2px solid black;
}

.button_full{
    background: #00897b;
    border: 2px solid #00897b;
}

.button_full:hover {
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
}

.button_empty:hover,
.focused{
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;  
    color: white;
}

.about{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: white;
    text-align: center;
}

.about__tittle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.about__text{
    color: #2d2c2c;
    font-size: 15px;
    margin-bottom: 110px;
}

.about_h3{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans Smibold';
}

.services{
    padding-top: 165px;
    padding-bottom: 125px;
    color: black;
    background: #e4fdf9;
    text-align: center;
}

.our_card{
    background: white;
    padding: 50px 35px 40px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.card__text{
    color: #2d2c2c;
    font-size: 15px;
    transition: 0.3s;
}

.our_card:hover{
    background: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
}

.our_card:hover .icon{
    color: white;
    transition: 0.3s;
}

.our_card:hover .card__text{
    color: white;
    transition: 0.3s;
}

.our_card:hover .button_services{
    color: white;
    transition: 0.3s;
    border: 1px solid white;
}

.icon{
    font-size: 60px;
    color: #000;
    transition: 0.3s;
}

.button_services{
    color: #000;
    text-transform: uppercase;
    border: 1px solid gray;
    background: transparent;
    padding: 14px 12px;
    font-family: 'Open Sans Smibold';
    transition: 0.3s;
}

.button_services:hover{
    cursor: pointer;
    border: 1px dotted white;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: white;
    text-align: center;
}

.portfolio img{
    margin-bottom: 30px;
}

.filter{
    padding: 120px 0;
}

.text{
    display: none;
    position: absolute;
    color: white;
    transition: 0.3s;
}

div[data-filter]:hover .text{
    display: block;
    width: 100%;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}

div[data-filter]:hover img{
    filter: brightness(60%);
    transition: 0.3s;
} 



.plans{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: #f0f1f1;
    text-align: center;
}



.team{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: white;
    text-align: center;
}



.blog{
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    background: #e4fdf9;
    text-align: center;
}



.contact{
    padding-top: 120px;
    padding-bottom: 125px;
    color: white;
    background: url(../img/footer.png);
    text-align: center;
}



.footer{
    margin: 20px 0;
}